<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>DiscordFriends.App</title>
    <script>
        function CopyToClipboard(id) {
            var r = document.createRange();
            r.selectNode(document.getElementById(id));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(r);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
        }
        var reg = /[a-z0-9_]{1,15}/
        var reg2 = /(.){4,18}/

        function validateForm() {
            if (!document.getElementById("entry2").value.match(reg2) || document.getElementById("entry2").value.match(reg2)[0] != document.getElementById("entry2").value) {
                document.getElementById("choose2").textContent = "Your name must be 4-18 characters"
                document.getElementById("choose2").style.color = "red"
                return false;
            }
        }
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
        h1,
        p,
        h4,
        h3,
        li,
        input,
        ul {
            font-size: 20px;
            font-family: 'Ubuntu', sans-serif;
            color: #FFFFFF;
        }
        
        body {
            background-color: #5865F2;
        }
        
        .topnav {
            overflow: hidden;
            background-color: #333;
        }
        
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        
        #particles-js {
            width: 98%;
            height: 98%;
            position: absolute;
            z-index: -9;
        }
        
        .btn {
            background-color: #ffffff;
            border-radius: 28px;
            border: 1px solid #9c9c9c;
            display: inline-block;
            cursor: pointer;
            color: #000000;
            font-family: Arial;
            font-size: 17px;
            padding: 13px 31px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #ffffff;
            margin-bottom: 10px;
        }
        
        .btn:hover {
            background-color: #ffffff;
        }
        
        .btn:active {
            position: relative;
            top: 1px;
        }
        
        .inpcont {
            width: 260px;
            height: 25px;
            background-color: #ffffff;
            border-radius: 28px;
            border: 1px solid #9c9c9c;
            display: inline-flex;
            flex-shrink: 1;
            color: #000000;
            font-family: Arial;
            font-size: 17px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #ffffff;
            margin-bottom: 10px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        
        .nomd {
            display: inline;
            margin-bottom: 0px;
        }
        
        .nom {
            display: inline;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        
        .subscript {
            font-size: 14px;
            margin: 0px;
            color: lightgrey;
        }
        
        .inp {
            margin: 0;
            border: none;
            background: none;
            color: black;
        }
        
        .textinp {
            width: 230px;
        }
        
        .inp:focus {
            outline: none;
        }
        
        .submit {
            margin-top: 20px;
        }
    </style>
</head>

<body id="body">
    <div id="particles-js" width="100%" height="100%"></div>
    % include("topbar.tpl")
    <p>
        Welcome to discordfriends.app. Your profile link is below.
    </p>
    <a class="btn" href="{{profile}}">Visit my profile</a>
    <a class="btn" href="{{server}}">(Re)join the discordfriends server</a>
    <form action="/dashboard" method="POST" onsubmit="return validateForm()">
        <p class="nomd">Change Name:</p>
        <br class="nom">
        <span class="inpcont">
            <input name="name" id="entry2" type="text" class="inp textinp nom" style="width: 250px; margin-left: 3px" required=true>
        </span>
        <br class="nom">
        <p class="nom subscript" id="choose2">You can change your name at any time. It should be 4-18 characters long.</p>

        <br>
        <p style="color: red">{{error}}</p>
        <input type="submit" value="Change name!" class="btn submit"></input>
    </form>
    <script src="particles.js"></script>

    <script>
        particlesJS.load('particles-js', '/particles2.json', function() {
            console.log('callback - particles.js config loaded');
        });
    </script>
</body>

</html>