<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>DiscordFriends.App</title>
    <script>
      function CopyToClipboard(id) {
        var r = document.createRange();
        r.selectNode(document.getElementById(id));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand("copy");
        window.getSelection().removeAllRanges();
      }
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

      h1,
      p,
      h4,
      h3,
      li,
      ul {
        font-size: 20px;
        font-family: "Ubuntu", sans-serif;
        color: #ffffff;
      }

      body {
        background-color: #5865f2;
      }

      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      #particles-js {
        width: 98%;
        height: 98%;
        position: absolute;
        z-index: -9;
      }

      .createAccount {
        margin-top: -4px;
        background-color: #ffffff;
        border-radius: 28px;
        border: 1px solid #9c9c9c;
        display: inline-block;
        cursor: pointer;
        color: #000000;
        font-family: Arial;
        font-size: 17px;
        padding: 13px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #ffffff;
      }

      .createAccount:hover {
        background-color: #ffffff;
      }

      .createAccount:active {
        position: relative;
        top: 1px;
      }
    </style>
  </head>

  <body id="body">
    <div id="particles-js" width="100%" height="100%"></div>
    % include("topbar.tpl")
    <p>
      DiscordFriends.App is a web app to connect your discord account to a name
      and handle so it can always be found. Create a profile card by simply logging
      in with discord through the link below.
    </p>
    <a href="{{AUTH}}" class="createAccount">Log in with discord!</a>

    <form action="/user" method="GET"></form>

    <script src="particles.js"></script>

    <script>
      particlesJS.load("particles-js", "/particles2.json", function () {
        console.log("callback - particles.js config loaded");
      });
    </script>
  </body>
</html>
