<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Profile - {{name}}</title>
    <script>
      function CopyToClipboard(id)
      {
        var r = document.createRange();
        r.selectNode(document.getElementById(id));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
      }
    </script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
      h1, p, h4, h3, li, ul{
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
      	color: #FFFFFF;
      }
      body {
        background-color: #5865F2;
      }

      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      
      .container {
        position: relative;
        width: 400px;
        height: 150px;
      }
      .card {
        width: 100%;
        height: 100%;
        position: absolute;
        border: solid #fff1f1;
        z-index: 10;
        border-width: medium;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
      }
      .bg-gradient {
        width: 101%;
        height: 102%;
        position: absolute;
        z-index: -10;
        border-radius: 20px;
        background: rgb(77,0,162);
        background: linear-gradient(180deg, rgba(77,0,162,1) 0%, rgba(0,0,0,1) 78%); 
      }
      .pfp {
        margin-top: 10px;
        margin-left: 5px;
  			border-radius: 50%;
      }
      .tag {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1px;
      }
      .usernamehandle {
        display: flex;
        flex-direction: column;
      }
      .particles-js {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -9;
      }
      .nomargin {
        margin: 0 !important;
      }
      .upmargin {
        margin: 0;
        margin-top: 5px;
        margin-left: 5px;
      }
      .hide {
        font-size: 15px;
        opacity: 0;
        transition-property: opacity;
        transition-duration: .5s;
      }

      .discord-name:hover + .hide {
        display: block;
        color: lightgrey;
        opacity: 1;
      }
    </style>
  </head>
  <body id="body">
    % include("topbar.tpl")
    <h1> {{name}}'s profile card: </h1>
    <div class="container">
      <div class="bg-gradient"></div>
      <div id="particles-js" class="particles-js"></div>
      <div class="card">
        <div class="tag upmargin">
          <img class="pfp nomargin" src="{{pfp}}"
          width="80" height="80">
          <div class="usernamehandle">
            <p class="nomargin">
              {{name}}
            </p>
            <p style="color: silver;" class="nomargin">
              @{{handle}}
            </p>
          </div>
        </div>
        <p class="discord-name upmargin" id="username" onclick="CopyToClipboard('username'); document.getElementById('hide').textContent = 'Copied!'">{{username}}</p>
        <p id="hide" class="hide upmargin">Click username to copy</p>
      </div> 
    </div>
    <script src="particles.js"></script>
    <script>
      particlesJS.load('particles-js', '/particles.json', function() {
        console.log('callback - particles.js config loaded');
      });
    </script>
  </body>
</html>
